ul.SideNav {
    z-index: 9999;
    position: absolute;
    height: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.SideNav.center {
    bottom: 10px;
}
ul.SideNav.right {
    right: 10px;
}
ul.SideNav li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: gray;
}

ul.SideNav.center li { float: left; }
ul.SideNav.center li:not(:last-child) { margin-right: 8px; }
ul.SideNav.right li:not(:last-child) { margin-bottom: 8px; }

ul.SideNav li a { display: block; width: 100%; height: 100%; }
ul.SideNav li.active { background-color: rgb(50,50,50); }
ul.SideNav li:hover { background-color: white; box-shadow: 2px 2px darkgray; }